*{
	margin: 0px;
	padding:0px;
}

.header-container{
	display: flex;
	width: -webkit-fill-available;
	justify-content: space-between;
	font-family: 'Dancing Script', cursive;
	align-items: center;
	height: 120px;

}

.branding{
	display: flex;
	width: 30%;
	justify-content: center;
	font-size: 2.3vw;
	align-items: center;
}

.nav-bar{
	display: flex;
	width: 60%;
	justify-content: space-around;
	align-items: center;
}

.nav-item{
	position: relative;
	font-size: 2vw;
	/*width: 20%;*/
	padding: 10px;
}
.sub-menu{
	position: absolute;
	display: none;
}

.nav-item:hover{
	background-color: #c18bb5;
	border-radius: 10px;
	color: #fff;

}
.has-submenu:hover > ul{
	display: block;
    background-color: #c18bb5;
    font-size: 0.8em;
    width: 120%;
    left: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}

li ul li:hover{
	width:95%;
	background-color: #fff;
	color: #c18bb5;
	border-radius: 5px;

}

.logo img{
	width: 120px;

}

@media (max-width: 768px){
	.logo{
		display: none;
	}
}
li{
	list-style: none;
}

a{
	text-decoration: none;
	color:inherit;
}

hr{
	margin: 0px 10px 0px 10px;

}

.main-container{
	display: flex;
	/*background: linear-gradient(135deg , #fff , #c18bb5 );*/
}

.main-content{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
	font-family: 'Dancing Script', cursive;

}

.button{
	margin-top: 20px;
	font-size: 1.5vw;
	width:20%;
	text-align: center;
	background-color: #e8b845;
	border-radius: 5px;
	color: #fff;
}

.button:hover{
	background-color: #c18bb5; 
}
.main-image{
	width: 50%;
	background-image: url(img/crochet_banner.png);
	padding-top: calc(100vh - 120px);
	background-repeat: no-repeat;
	background-size: cover;
}